body {
    --color-background:#f6f6f6;
    --color-text: black;
}

.dark {
    --color-background: #393E46;
    --color-text: #f6f6f6;
    --color-hover: #ece75f
}

body{
    background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
hr,
a,
p,
li,
td,
tr,
footer,
span {
  color: var(--color-text);
}